.slider-container {
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide.active {
    opacity: 1;
    position: relative;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(183, 183, 183, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    transition: background 0.3s ease-in-out;
    z-index: 10;
}
.nav-button:hover {
    background: rgba(119, 119, 119, 0.8);
}

#prev {
    left: 50px;
}

#next {
    right: 50px;
}

.dots-container{
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 10px;
   z-index: 10;
}

.dot{
    width: 5px;
    height: 5px;
    background: rgba(119, 119, 119, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
} 

.dot.active {
    background: rgb(0, 0, 0);
}
