ul { list-style: none; }
a { text-decoration: none; }

.cs-hidden {
  visibility: hidden;
}

#autoWidth {
  width: 100%;
}

.container {
    width: 100%;
    height: 90vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box { 
    width: 250px; 
    height: 380px;
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 20px 10px;
}

    .box:hover { background-color: #adadad; transform-style: preserve-3d; transform: scale(1.02); transition: all ease .3s; }
        .box:hover .name { color: #ffffff; transition: all ease .5s; }
.model { height: 200px; max-height:auto; max-width: auto; margin-top: 10px;}

.details { display: flex; flex-direction: column; align-items: center; width: 300px; }
    .details p { font-family: 'Times New Roman'; font-weight: bold; color: #6A6A74; text-align: center; margin-top: 20px; }
.name { color: #32323E; font-weight: bold; letter-spacing: 0px; font-family: system-ui; font-size: 20px; margin-bottom: 0px;}
.logo { height: 60px; margin-top: 10px; }
.view { 
    width: 150px; 
    height: 40px; 
    background: #32323E; 
    color: #ffffff; 
    border-radius: 20px; 
    border: none; 
    font-family: 'system-ui'; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px;
}
.view:hover { background-color: #0043b8; transition: all ease .3s;}

@media(max-width: 1000px) {
    .box { width: 94%; height: 500px; }
    .model { height: 250px; }
    .details p { font-size: 14px; width: 250px; } 
}

@media(max-height: 600px) {
    .container { height: 90%; }
}
